* {
  margin: 0;
  padding: 0;
}

.graph {
  height: 100%;
  width: 100%;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.out {
  height: 100px;
  width: 800px;
  border: 2px solid black;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  background-color: #4c43cd;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%),
    radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  justify-content: center;
  color: white;
}

#network {
  width: auto;
  height: 400px;
  border: 3px solid black;
  border-radius: 20%;
  margin-bottom: 20px;
  background-color: rgb(223, 197, 197);
}

#output {
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin-top: 50px;
  justify-content: center;
  margin-left: -30px;
}

.btn {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #e63030;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%),
    radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.visited {
  background-color: red;
}

.visitedEdge {
  color: #666666;
}

.controls{
  margin-right: 200px;
}